.shipContainer {
  margin-top: 40px;
  border-bottom: 1px solid #a5a5a5;
}

.shipContainer .shipHeader {
  min-width: 120px;
}

.shipContainer .shipHeader .shipName {
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

.shipContainer .shipHeader .arrowIcon {
  margin: 4px 0 0 23px;
  cursor: pointer;
}

.shipContainer .shipProps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 29px 0;
}

.shipContainer .shipProps div {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.shipContainer .shipProps div .propName {
  font-size: 16px;
}

.shipContainer .shipProps div .propType {
  margin-left: 104px;
  font-size: 16px;
  color: #2962ff;
}
